@page
@model CallAnalysisWeb.Pages.Stats.StatsModel
@{
    ViewData["Title"] = "Аналитика звонков";
}

<h1>@ViewData["Title"]</h1>


<!-- Первая диаграмма: Суммарная длительность звонков -->
<div style="margin-bottom: 20px;">
    <h2>Суммарная длительность звонков</h2>
    <canvas id="totalDurationChart"></canvas>
</div>


<!-- Вторая диаграмма: Наибольшее количество звонков -->
<div style="margin-bottom: 20px;">
    <h2>Наибольшее количество звонков</h2>
    <canvas id="callCountChart"></canvas>
</div>


<div style="display: flex; margin-bottom: 20px;">

    <!-- Третья диаграмма: Статистика звонков -->
    <div style="flex: 0.80;">
        <h2>Статистика звонков</h2>
        <canvas id="callStatusChart"></canvas>
    </div>

    <!-- Четвертая диаграмма: Загруженность сотрудников -->
    <div style="flex: 2.20; margin-left: 20px;">
        <h2>Загруженность сотрудников</h2>
        <canvas id="supportAgentLoadChart"></canvas>
    </div>
</div>


<!-- Таблица с информацией о клиентах, не совершавших звонки -->
<div style="margin-bottom: 30px">
    <h3>Клиенты, не совершавшие звонков за выбранный период</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Компания</th>
                <th>Номер телефона</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.ClientsWithoutCalls)
            {
                <tr>
                    <td>@client.CompanyName</td>
                    <td>@client.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var totalDurationData = {
            labels: @Html.Raw(Json.Serialize(Model.ClientsWithLongestCalls.Select(c => c.CompanyName))),
            datasets: [{
                label: 'Минуты',
                data: @Html.Raw(Json.Serialize(Model.ClientsWithLongestCalls.Select(c => c.TotalDuration))),
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        };

        var callCountData = {
            labels: @Html.Raw(Json.Serialize(Model.ClientsWithMostCalls.Select(c => c.CompanyName))),
            datasets: [{
                label: 'Количество звонков',
                data: @Html.Raw(Json.Serialize(Model.ClientsWithMostCalls.Select(c => c.CallCount))),
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 1
            }]
        };

        var callTypeData = @Json.Serialize(Model.CallTypeDistribution);
        
        var supportAgentLoadData = {
            labels: @Html.Raw(Json.Serialize(Model.SupportAgentLoad.Select(e => e.SupportAgentName))),
            datasets: [{
                label: 'Минуты',
                data: @Html.Raw(Json.Serialize(Model.SupportAgentLoad.Select(e => e.TotalDuration))),
                backgroundColor: 'rgba(255, 159, 64, 0.2)',
                borderColor: 'rgba(255, 159, 64, 1)',
                borderWidth: 1
            }]
        };

        var totalDurationCtx = document.getElementById('totalDurationChart').getContext('2d');
        var totalDurationChart = new Chart(totalDurationCtx, {
            type: 'bar',
            data: totalDurationData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var callCountCtx = document.getElementById('callCountChart').getContext('2d');
        var callCountChart = new Chart(callCountCtx, {
            type: 'bar',
            data: callCountData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var callTypeCtx = document.getElementById('callStatusChart').getContext('2d');
        var callTypeChart = new Chart(callTypeCtx, {
            type: 'pie',
            data: {
                labels: Object.keys(callTypeData),
                datasets: [{
                    data: Object.values(callTypeData),
                    backgroundColor: Object.keys(callTypeData).map(type => {
                        if (type === "пропущенный") {
                            return 'rgba(255, 99, 132, 0.2)';  // Красный
                        }
                        else if (type === "неуспешный исходящий") {
                            return 'rgba(61, 46, 53, 0.2)';  // Серый
                        }
                        return 'rgba(54, 162, 235, 0.2)';  // Синий
                    }),
                    borderColor: Object.keys(callTypeData).map(type => {
                        if (type === "пропущенный") {
                            return 'rgba(255, 99, 132, 1)';  // Красный
                        }
                        else if (type === "неуспешный исходящий") {
                            return 'rgba(61, 46, 53, 0.58)'; // Серый
                        }
                        return 'rgba(54, 162, 235, 1)';  // Синий
                    }),
                    borderWidth: 1
                }]
            },
        });

        var supportAgentLoadCtx = document.getElementById('supportAgentLoadChart').getContext('2d');
        var supportAgentLoadChart = new Chart(supportAgentLoadCtx, {
            type: 'bar',
            data: supportAgentLoadData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}
